{% extends 'base.html' %}
{% block title %}Log in{% endblock %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="../static/css/login.css"/>
{% endblock %}
{% block body%}
    <div class="frame">
			<div class="title"><h1>Log in</h1></div>
			<div class="login-box">
				<form >
				Username:<br>
				<input type="text" name="Username">
				<br><br>
				Password:<br>
				<input type="password" name="password">
				<br><br>
				<input class="button" type="submit" value="Log in">
				<br>
			</form>
		</div>
    </div>
{% endblock %}
{% block scripts %}
    <script>
    </script>
{% endblock %}